.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
    }

.container {
    margin: 0 auto;

}

.topic-list {
    width: 100%;
}

.topic-title, .topic-icon, .topic-info {
    display: inline-block;
}

.topic-list h3, .topic-list p {
    margin: 0;
    padding: 0;
}

.single-topic {

    width: 100%;
    border: 3px solid #EEEEEE;
    border-radius: 6px;
    margin-bottom: 7px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    display: none;
    position: relative;
    color: inherit;
    text-decoration: none;

}

.topic-icon {
    width: 10%;
    max-width: 40px;
    text-align: center;

}

.topic-icon i {
   font-size: 20px;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.topic-info {
    float: right;

}

.topic-replies, .topic-date {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

.single-topic:hover {
    background: #F8F8F8;
    text-decoration: none;
}

.fade-in {
    animation: fade-in 0.25s linear;
    display: block;
}

@keyframes fade-in {
    from {
        opacity: 0;
        top: 30px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}


/* Single topic page */

.jumbotron.topic-top-level {
    padding-top: 40px;
    padding-bottom: 20px;

}

.topic-top-level .created-at {
    float: right;
}

.topic-top-level h2, .topic-top-level p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.topic-top-level .user-email {
    font-size: 16px;
}

.topic-contents {
    margin-bottom: 30px;
}

.topic-footer a {
    float: right;
}

#reply {
    float: right;
}

#reply textarea {
    display: block;
    height: 100px;
    width: 300px;

}

#reply button {
    float: right;
    margin-top: 10px;
}



.comment {
    margin-left: auto;
    max-width: 1000px;
    width: 80%;
    border: 3px solid #EEEEEE;
    border-radius: 6px;
    margin-bottom: 12px;
    transition: background 0.3s ease-in-out;
    position: relative;
    color: inherit;
    text-decoration: none;
    padding: 10px;

}

.comment-date {
    float: right;
}

.comment-email {
    float: left;
}

.comment hr {
    margin-top: 0;
}

/* Login form */
#google-signin {

    display: block;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: -5px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
