{% extends "base.html" %}
{% block title %}Doma{% endblock title%}

{% block content %}
<h1>Doma</h1>
{% if user %}
    Dobrodošel {{ user.email() }}
{% endif %}


<div class="jumbotron">
    <h1>Ninja Tech Forum</h1>
    <p>Welcome to Ninja Tech Forum - the best forum for tech fans.</p>
</div>

<div class="topic-list">

                {% for topic in topics %}

                <a class="single-topic" href="/topic/view/{{topic.key.id()}}">
                    <div class="topic-icon">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="topic-title">
                        <h3>{{topic.title}}</h3>
                        <p>{{topic.user_email}}</p>
                    </div>
                    <div class="topic-info">
                        <div class="topic-replies">Replies <br> {{replies[topic.key.id()|string]}}</div>
                        <div class="topic-date">Created on <br>{{ topic.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        <div class="topic-date">Last updated <br>{{ topic.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                    </div>
                </a>

                {% endfor %}

            </div>


{% endblock content %}

{% block modal %}

{% endblock modal%}