{% extends "base.html" %}

{% block title %}Register a new account{% endblock title %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head %}

{% block content %}
<h1>Register a new account</h1>
<div class="container">


    <form method="post">
      <label><b>Email</b></label>
      <input type="text" placeholder="Your email" name="email" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Password" name="psw" required>
      <label><b>Re-type password</b></label>
      <input type="password" placeholder="Password" name="psw_check" required>

        <div class="g-recaptcha" data-sitekey="6LeQ0DQUAAAAAOlcVB49WzTC4-XqpY196xz0uQY5"></div>

      <button type="submit" class="btn btn-success">Sign up</button>
    </form>

  </div>

{% endblock content %}
</body>
</html>